/* Rest of the styles */

body {
    background-color: #FEE2B2;
  }
  
  header {
    background-color: #F0B781;
    color: #FFF;
  }
  
  h1 {
    font-size: 36px;
    margin: 0;
    padding: 20px;
  }
  
  main {
    padding: 50px;
    color: #5C4438;
  }
  
  footer {
    background-color: #F0B781;
    color: #FFF;
    padding: 20px;
  }
  